/*
This is the css file that will contain all the custom css styles that you will be writing to customize the look of the Apigee developer portal 
*/

body {
    font: normal 16px/1.45em Arial, Verdana, sans-serif;
    font-size: 16px;
    font-size: 1.2em;
}

#navbar{
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: all 0.5s ease;
}
.sticky {
    position: fixed;
    top: -20;
    width: 100%;
    transition: all 0.5s ease;
  } 

  a.logo img {
    margin-top: 0px;
    width: 50%;
} 
.navbar .navbar-nav{
    margin-left: -40px;
}
.navbar .nav > li > a {
    font-size: 15px;
}
body header.navbar .nav > li > a:hover {
    background-color: transparent;
}
body header.navbar .nav > li > a:hover {
    color: orange;
}
.navbar .nav > li:hover {
    border-bottom: 3px solid #ff6600;
    transform: perspective(1px) translateZ(0);
}
#navbar {
    margin-top: 18px;
}
.front .page-header {
    min-height: 275px;
    background-color: #ffffff;
}

.page-header .home-img img {
    float: left;
    height: 220px;
    top: 20px;
    width: auto;
}
/* .page-header-content{
    border: 2px solid #ccc;
    padding: 15px;
    padding-bottom: 35px;
} */

body header.navbar {
    background-color: #ffffff;
}
.front .page-header {
    background-attachment: fixed;/* 
    background-image: url(/images/banner.jpeg); */
    background-position: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 1519px 1011px;
}
  
.page-header .home-header-btn {
    margin-bottom: 18px; 
    background-color: rgb(255, 102, 0);
    border: none;
    opacity: 0.6;
}
.page-header .home-header-btn {
    margin-bottom: 18px; 
    background-color: rgb(255, 102, 0);
    border: none;
    opacity: 0.6;
}
.page-header .home-header-btn:hover {
    background-color: rgb(255, 102, 0);
    border: none;
    opacity: 1;
}
.page-header .home-header-btn a {
    color: white;
    opacity: 1;
}
.page-header .home-header-btn {
    background: #ff6600;
}

.footer.footer-fixed-bottom {
    position: relative;    
    background: #242424;
}

.footer a, h5{
    color: white;
}
.footer .container-fluid{
    margin-left: 110px;
}
body header.navbar .nav .active > a, body .navbar .nav .active > a:hover, .navbar.navbar-fixed-top #main-menu li a:hover {
    color: rgb(255, 102, 0);
}

#search-block-form .icon {
    position: relative;
    top: 50%;
    margin: 0px;
    color: white;
}

#search-block-form .btn-primary{
    top: 14px;
}
#search-block-form {
    left: 25%;
    top: 32px;
}

/*Home page slider*/

.jumbotron{
    background-color: transparent;
}

.view-homepage-slider-view img { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }
 /* #block-views-banner-slider-block{
    margin-top: -270px;
} */

#block-views-text-slider-block{
    padding-bottom: 175px;
    margin-top: -180px;
}
 .view-banner-slider .views-field-body{
    position: absolute; 
    top: 135px;
    left: 35px;
    width: 100%;
 }
 .view-banner-slider .views-field-field-link{
    position: absolute; 
    top: 55%;
    left: 35px;
    width: 100%;
    font-size: 21px;
 }
 .view-homepage-slider-view h2{
     color:white;
 }
 .views-slideshow-controls-bottom{
    margin-left: 50%;
 }

 /*Home video*/
 .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
    opacity: 0.5;
}
 video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
 }
  .list-unstyled, .list-unstyled li{
    padding: 10px;
  }
  

/*Cards*/
.card img{
    opacity:0.5;
    transition: 1s ease;
}

.card img:hover{
    opacity:1;
    transition: 1s ease;
    }

    body.front .region-content h2 {
        color: #333;
    }
    .btn{
        border: none;
        font-family: Arial, Verdana, sans-serif !important;
    }

    /*logo animate*/
    